body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

header{
    margin-bottom: 60px;
    margin-top: 50px;
    text-align: center;
}

#gameTitle{
    color: rgb(35, 35, 201);
    border: 4px solid orange;
    border-radius: 35px;
    padding: 25px;
    width: fit-content;
    margin: auto;
    background-color: rgb(158, 240, 158);
}

button, a{
    color: brown;
    background-color: white;
    border: none;
    margin-top: 20px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    text-decoration: none;
}

#headerButtons{
    display: inline;
}

.modal {
    background-color: rgba(248, 248, 248, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1; /* this puts modal in front of body */
    overflow: auto; /* a scroll bar should be added to see text not on page*/
    display: none; 
}

#modalTextbox{
	background-color: white;
	height: 250px;
	width: 500px;
	border-radius: 2px;
	margin: 100px auto;
	padding: 2%;
	line-height: 120%;
	box-shadow: 0 2px 2px rgba(0,0,0,0.2);
	font-family: "Georgia";
}

.modalHeader{
    color: brown;
}

.modalText{
    margin: 0 50px 30px 50px;
    font-weight: bold;
}

.game {
    display: flex;
    flex-direction: row;
    width: 340px;
    flex-wrap: wrap;
    margin: auto;
    grid-gap: 10px;
    justify-content: center;
}

.box{
    border: 2px solid black;
    border-radius: 35px;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    height: 150px;
    width: 100px;
}

.ball{
    width: 25px;
    height: 25px;
    margin: auto;
    border-radius: 10px;
    margin-top: 18px;
    margin-bottom: 5px;
}


.ball:active{
    cursor: grabbing;
}

.blue{
    background-color: blue;
}

.green{
    background-color: rgb(96, 187, 96)
}

.orange{
    background-color: orange;
}

.brown{
    background-color: brown;
}


.levelWinner {
    background-color: rgba(248, 248, 248, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1; 
    overflow: auto;  
    display: none; 
  }
  
  .levelWinnerTextbox {
    background-color: white;
	height: 250px;
	width: 500px;
	border-radius: 2px;
	margin: 100px auto;
	padding: 2%;
	line-height: 120%;
	box-shadow: 0 2px 2px rgba(0,0,0,0.2);
	font-family: "Georgia";
  }

  .levelWinnerText{
      margin-bottom: 100px;
  }

  